@import '../../scripts/breakpoints.scss';


.articleModule {
  display: flex;
  align-items: center;
}


.text {
  padding: 20px;
}


.root {
  border: solid 2px green;
  width: 100%;

  .wrapper {
    border: solid 2px blue;
    display: flex;
    flex-direction: column;

    @include md {
      width: 80%;
      max-width: 1026;
      margin: 0 auto;
      padding: 0px;
      flex-direction: row;
    }

    .image {
      margin: auto;
      max-width: 100%;
      border: solid 2px red;

      @include sm {
        max-width: 50%;
      }

      @include md {
        max-width: 100%;
      }
    }

    .content {
      border: solid 2px purple;
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem;
      margin: auto;

      @include sm {
        padding: 1rem;
        width: 80%;

      }

      @include md {
        padding: 2rem 2rem;
        width: 100%;

      }

      @include xl {
        padding: 4rem 3rem;

      }

      @include xxl {
        padding: 6rem 3rem;

      }

      p {
        font-size: 10px;

        @include md {
          font-size: 0.8rem;
        }

        @include xl {
          font-size: 1rem;
        }

      }

    }
  }
}