@import '../../scripts/breakpoints.scss';


.articleModule {
    display: flex;
    align-items: center;
  }
  
  .image {
    max-width: 25%;
  }
  
  .text {
    padding: 20px;
  }
  

.root {
  border: solid 2px green;
  width: 100%;

  .wrapper {
    border: solid 2px blue;
    display: flex;
    flex-direction: column;

		@include sm {
			width: 80%;
			max-width: 1026;
			margin: 0 auto;
			padding: 0px;
			flex-direction: row;
		}

    .image {
      border: solid 2px red;
    }

    .content {
      border: solid 2px purple;
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
      
      @include sm {
        background-color: azure;
        padding: 0 4rem;
      }

      @include lg {
        background-color:floralwhite;
        padding: 6rem;
      }

    }
  }
}