.articleModule {
    display: flex;
    align-items: center;
  }
  
  .image {
    max-width: 25%;
  }
  
  .text {
    padding: 20px;
  }
  

.root {
  border: solid 2px green;
  width: 100%;

  .wrapper {
    border: solid 2px blue;

    .image {
      border: solid 2px red;
    }

    .content {
      border: solid 2px purple;
    }
  }
}